.homepage {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

  }
  
  canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  } 
  .content {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #a2e6de;
    font-family: monospace;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center; 
    align-items: center;    
    z-index: 1000; 
  }
  
  .modal-content {
    background-color:transparent;
    padding-left: 160px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center; 
  }