.App{
  overflow: hidden;
}

.brand-hero-button{
  font-family: monospace;
  background-clip: content-box;
  border-block-start: none;
  font-weight: bold;
  color: #a2e6de;
  background-color: #1D3557;
}
.brand-hero-button:hover{
  color: #a2e6de;
  background-color: #1D3557;
}
h1 {
  font-size: 2.5rem;
  margin: 0;
  font-weight: bold;
}

p {
  font-size: 1rem;
  margin: 1rem 0 0;
  font-weight: 400;
  font-family: monospace;
  white-space: pre-wrap;
}

.container {
  position: relative;
  height: 110vh; 
  overflow: hidden; 
}

.canvas {
  width: 100%;
  height: 100%; 
}

.about-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  max-height: 900px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: monospace;
  z-index: 1; 
  backdrop-filter: blur(5px); 
  overflow-y: auto; 
  padding: 20px;
}


.empty{
  margin-bottom:0px;
}

.container {
  padding: 20px;
}

.experience-table {
  width: 100%;
  border-collapse: collapse;
}

.experience-table th, .experience-table td {
  padding: 15px;
  vertical-align: top;
  text-align: left;
}

.experience-table th {
  width: 150px;
}

.logo {
  width: 200px;
  height: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: monospace;
  font-weight: bold;
}
.exp-container{
  padding: 100px;
}
@media(max-width:768px) {
  .logo {
  display: none;
  }
  .exp-container{
    padding: 50px;
  }
  th{
    display: none;
  }
  .projects-container {
    padding: 0px
  }
}
.projects-container{
  overflow: hidden;
  padding: 5.5%;

}
.contact-container{
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 45px;
    margin-top: 70px;
    margin-left: 5px;
    margin-bottom: 230px; 
}
.user-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card{
  display: flex;
  backdrop-filter: blur(10px);
  background-color:#a2e6de;
}
.user-img{
 height: 200px;
 border-radius: 150px;
 box-shadow: 17px 0px 50px #9e3a00;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}